<h1>Nuevo Usuario</h1>
<%= form_for :user do |f| %>

<p>
<%= f.label :nombre %>
<%= f.text_field :nombre %>
</p>
<p>
<%= f.label :password %>
<%= f.password_field :password %>
</p>
<p>
<%= f.submit 'guardar'%>
</P>
<% end %>