<br>
<br>
<center><h1>Comentarios</h1></center>
<center>
<table>
  <tr>
    <th>Nombre</th>
    <th>Titulo</th>
    <th>Comentario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comentarioxes.each do |comentariox| %>
  <tr>
    <td><%= comentariox.nombre %></td>
    <td><%= comentariox.titulo %></td>
    <td><%= comentariox.comentario %></td>
    <td><%= link_to 'Show', comentariox %></td>
    <td><%= link_to 'Edit', edit_comentariox_path(comentariox) %></td>
    <td><%= link_to 'Destroy', comentariox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comentariox', new_comentariox_path %><br>
<%= link_to 'volver administracion', admin_url %>
</center>